{{#partial "title"}}
    Animalia
{{/partial}}


{{#partial "content"}}
    {{> navBar.hbs }}


    <div>
        {{#if animals}}
            {{#each animals}}
                <h4>{{ name }}</h4>
            {{/each}}
        {{/if}}
    </div>
{{/partial}}


{{> layout.hbs }}